.about-section {
  background-image: url('https://images.unsplash.com/photo-1541858155916-08de608b4fe0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;

  h1 {
    margin: 0;
    text-align: left;
  }
}
.basket-div{
  display: flex;
}
.product-image{
  border-radius: 3px;
}
.product {
  border: var(--theme-yellow);
  background-color: var(--theme-yellow);
}
.basket-section {
  background-color: #8c8c8c;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;

  h1 {
    margin: 0;
    text-align: left;
  }
}
.about-container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 50px;
  margin: 70px 0;

  .hero-text {
    width: 100%;
    h1 {
      font-size: 40px;
      font-weight: 400;
    }

    .about-text {
      margin-bottom: 30px;
    }

  }
}

footer {
  text-align: center;
  color: #8c8c8c;
  margin-top: 20px;
}

.created-by-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .creator-border {
    background: linear-gradient(
      to bottom right,
      var(--theme-purple),
      var(--theme-blue)
    );
    margin: 25px 20px;
    width: fit-content;
    border-radius: 7px;
    display: flex;
    justify-content: center;

    & :hover {
      background-color: azure;
    }
  }
}

.creator {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px;
  justify-content: center;
  padding: 20px 10px;
  margin: 6px;

  .creator-img {
    height: 150px;
    border-radius: 5px;
  }

  .creator-text {
    text-align: center;

    h2 {
      font-weight: 600;
      margin-bottom: 10px;
    }
    .link {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        margin: 5px 0;
        color: var(--theme-purple);
        text-decoration: none;
        margin-left: 5px;
      }
    }
  }
}
.ana {
  margin: 8px;
}

.emily,
.mo {
  margin: 7px;
}

.creator-img-mo {
  // height: 200px;
  object-fit: center top;
}

.users-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;

    .user-text {
      text-align: center;
    }
    h5 {
      margin: 0;
      font-weight: 500;
    }

    .links {
      display: flex;
      justify-content: center;

      .link {
        margin: 5px 2px 0 2px;
      }
    }
  }
}

.user-img {
  display: flex;
  width: 50px;
  margin: 10px;
  border-radius: 3px;
}
