.login-hero {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 60px 65px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 7px 0;
  font-size: 18px;

  & > * {
    margin: 2px 0;
  }

}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #8c8c8c;
  font-family: inherit;
  font-size: 16px;
  width: 250px;
}

#login-footer {
  color: var(--theme-dgrey);
  margin-top: 10px;
  margin-bottom: 10px;
}